@import '../../utils/_variables.scss';

.menu-drawer {
  .MuiDrawer-paper {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.5rem;

    a {
      width: 100%;
    }

    .menu-drawer__button {
      border: 1px solid rgb(116, 115, 115);
      transition: all 0.3s ease-in-out;
      border-radius: 0.3rem;

      &:hover {
        border-color: rgb(255, 72, 0);
        color: rgb(255, 72, 0);
      }
    }

    .MuiListItemText-root {
      text-align: center;

      .MuiTypography-root {
        font-family: 'FiraCode', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          'Roboto', sans-serif;
        font-weight: bold;
      }
    }
  }

  &.light {
    .MuiDrawer-paper {
      background: rgb(246, 252, 252);
      color: $color-deep-dark;
    }
  }

  @media (min-width: 600px) {
    .MuiDrawer-paper {
      width: 25rem;
    }
  }
}