@import '../../utils/_variables.scss';

.menu-drawer {
  .MuiDrawer-paper {
    width: 100%;
    background-color: $color-pale-dark;
    padding: 0.5rem;

    a {
      width: 100%;
    }

    .menu-drawer__button {
      color: rgb(89, 96, 173);
      background: rgba(69, 55, 122, 0.1);
      border: 1px solid rgba(164, 152, 213, 0.25);
      transition: all 0.3s ease-in-out;
      border-radius: 0.3rem;

      &:hover {
        background: rgba(106, 89, 175, 0.20);
      }
    }

    .MuiListItemText-root {
      text-align: center;

      .MuiTypography-root {
        font-family: 'FiraCode', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          'Roboto', sans-serif;
        font-weight: bold;
      }
    }
  }

  &.light {
    .MuiDrawer-paper {
      background: rgb(246, 252, 252);
      color: $color-deep-dark;
    }
  }

  @media (min-width: 600px) {
    .MuiDrawer-paper {
      width: 25rem;
    }
  }
}