@import '../../utils/_variables.scss';

.calculator-page-outer-shell {
  margin-top: 3rem;
  min-height: 80vh;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-shell {
    border: 1px solid blue;
  }
}
