@import '../../utils/_variables.scss';

.coffee-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  background-color: rgba($color-deep-dark, 0.6);
  padding: 0.5rem;
  border-radius: 1rem;

  &:hover {
    color: rgb(146, 183, 238);
  }

  span {
    font-size: 0.6rem;
  }

  &.light {
    color: black;
    &:hover {
      color: rgb(8, 41, 90);
    }
    background-color: rgba(#e4effa, 0.6);
  }


  @media (max-width: 768px) {
    bottom: 1rem;
    right: 1rem;
    transform: scale(0.7)
  }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out 8;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  20%, 60% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  70%, 90% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(6deg);
  }
}