$color-deep-dark: #13121d;
$color-pale-dark: #111018;
$color-bright-pearl: #f1e9e3;
$color-soft-pearl: #c5e6eb;
$color-dark-orange: #561e11;

@mixin wiggle-animation {
  &.wiggle-animation {
    animation: wiggle 2s infinite;
  }

  @keyframes wiggle {
    0%,
    75% {
      transform: rotate(0deg);
    }
    81.25% {
      transform: rotate(-5deg) scale(1.02);
    }
    87.5% {
      transform: rotate(5deg) scale(1.05);
    }
    93.75% {
      transform: rotate(-5deg) scale(1.02);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@mixin fade-in-animation {
  animation: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
