@import '../../utils/_variables.scss';

.items-page-outer-shell {
  margin-top: 3rem;
  margin-bottom: 1rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;


  @media (min-width: 600px){
    margin-top: 4.5rem;
  }

  &.loading {
    margin-top: 0;
    align-items: center;
  }

  .no-results-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: $color-deep-dark;
  }
}
