@import './utils/_variables.scss';

.page-outer-shell {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color-deep-dark;
  color: $color-bright-pearl;
  &.light {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(179, 240, 239, 1) 100%
    );
    color: $color-deep-dark;
  }
}
