@import './utils/_variables.scss';

.page-outer-shell {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color-deep-dark;
  color: $color-bright-pearl;
  &.light {
    background: rgb(246, 252, 252);
    color: $color-deep-dark;
  }
}
