@font-face{
  font-family: "FiraCode";
  src:local("FireCodeNerdFont-SemiBold"),
  url('./assets/fonts/FiraCodeNerdFont-SemiBold.ttf') 
}


body {
  font-family: 'FiraCode', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
